@media screen and (max-width: 399px) {
     .audience {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 50px 15px;
          background-color: #00A1C612;
     }
     
     .audience__block {
          display: flex;
          flex-direction: column;
     }
     
     .audience__title {
          margin: 0;
          font-weight: 700;
          font-size: 22px;
          line-height: 34px;
          text-align: center;
          color: #2B292D;
     }
     
     .audience__subtitle {
          margin: 0;
          margin-top: 17px;
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          text-align: center;
          letter-spacing: -0.357143px;
          color: #2B292D;
     }
     
     .audience__text {
          margin: 0;
          margin-top: 18px;
          margin-bottom: 30px;
          font-size: 24px;
          line-height: 34px;
          text-align: center;
          color: #2B292D;
     }
     
     .headline__learn-more-btn {
          margin-top: 12px;
          margin-bottom: 40px;
     }

     .audience-buttons {
          margin-top: 0;
     }

     .cards {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .user-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          margin-bottom: 15px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
          border-radius: 8px;
     }
     .user-card:last-child {
          margin-bottom: 0;
     }
     .user-card__image {
          max-width: 100%;
          margin: 22px auto;
     }
     
     .user-card__caption {
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
          text-align: center;
          color: #2B292D;
          width: 250px;
          margin: 0 20px 33px;
     }

     .user-card:hover {
          background-color: #3141C5;
     }
     .user-card:hover > .user-card__caption {
          color: #fff
     }
}

@media screen and (min-width: 400px) {

.audience {
     display: flex;
     flex-direction: column;
     background-color: #00A1C612;
}

.audience__block {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 130px;
}

.audience__title {
     margin: 0;
     margin-top: 108px;
     margin-bottom: 24px;
     width: 168px;
     font-weight: 700;
     font-size: 22px;
     line-height: 34px;
     text-align: center;
     color: #2B292D;
}

.audience__subtitle {
     margin: 0;
     margin-bottom: 30px;
     width: 555px;
     font-weight: 700;
     font-size: 56px;
     line-height: 56px;
     text-align: center;
     letter-spacing: -0.5px;
     color: #2B292D;

}

.audience__text {
     margin: 0;
     margin-bottom: 34px;
     width: 555px;
     font-size: 24px;
     line-height: 34px;
     text-align: center;
     color: #2B292D;
}

.audience-buttons {
     margin-top: 0;
}

.cards {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin: 0 130px;
}

.user-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 300px;
     width: 262px;
     margin: 110px 0;
     margin-left: 30px;
     background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
     border-radius: 8px;
}

.user-card__caption {
     font-weight: 700;
     font-size: 22px;
     line-height: 28px;
     text-align: center;
     color: #2B292D;
}

.user-card:first-child {
     margin-left: 0;
}

.user-card__image {
     margin: 22px auto;
     max-width: 100%;
}

.user-card:hover {
     background-color: #3141C5;
}
.user-card:hover > .user-card__caption {
     color: #fff
}

}