.top-section {
     background-color: #F3C6BD;
     height: 890px;
}

.header {
     height: 64px;
     width: 100%;
     background-color: #fff;
     display: flex;
     align-items: center;
     padding-left: 15px;
}

.navigation {
     display: none;
}

.header__button {
     display: none;
}

.header__menu-button {
     width: 58px;
     border: none;
     border: 1px solod #00000026;
     height: 100%;
     margin-left: auto;
     background: transparent;
}

.header__menu-icon {
     width: 18px;
     height: 13px;
     display: inline-block;
     background-image: url('../img/shape-btn.png'); 
}



.nav__item {
     color:  #2B292D;
     text-decoration: none;
     line-height: 25px;
     font-size: 18px;
     margin-left: 50px;
}

.nav__item_selected {
     font-weight: 700;
}

.nav__item:first-child {
     margin-left: 0;
}

.nav__item_dropdown {
     background-image: url(img/arrow.png);
     display: inline-block;
     height: 5px;
     width: 8px;
     margin-left: 11px;
}

.logo {
     display: flex;
}

.logo__image {
     height: 48px;
     width: 48px;
     margin-right: 13px;
}

.logo__name {
     font-size: 20px;
     line-height: 25px;
     font-weight: 700;
}

.logo__description {
     display: none;
}

.logo__text {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

@media screen and (min-width: 400px) {
     .top-section {
          background-color: #F3C6BD;
          padding-top: 39px;
          height: auto;
     }
     .header__menu-button{
          display: none;
     }
     .navigation {
          display: block;
          margin-left: auto;
          margin-right: 75px;
          margin-top: 7px;
     }
     .header {
          height: 62px;
          width: 1140px;
          display: flex;
          margin: auto;
          background-color: #F3C6BD;
     }

     .header__button {
          display: block;
     }

     .logo__description {
          font-size: 18px;
          line-height: 25px;
          color: #2B292D;
          opacity: 0.6;
          display: block;
     }
     .logo__image {
          height: 60px;
          width: 60px;
          margin-right: 15px;
     }
}